<%- include header.ejs %>
<section class="main-section">
 <div class="container">
   <div class="row ta-center">
         <% if (country === undefined) { %>
          <div class="one-half column">
            <h1 class="hero-heading">Sorry could not found country</h1>
          </div>
            <% } else { %>
             <h1 class="hero-heading"><%= country.name %> <img class="u-max-full-width" src="/images/flags/<%= country.flag %>"></h1>
            
<canvas id="myChart"></canvas>
      <% } %>  
   </div>
 </div>
</section>

<%- include footer.ejs %>

<script src="/js/libs/chart.min.js"></script>
<script src="/js/countries.js"></script>
</body>
</html>