<%- include header.ejs %>

<section class="main-section">
  <div class="container">
    <!-- Modal Structure -->
    <div id="modal" class="modal">
      <div class="modal-content">
        <h4>Remove my account</h4>
        <p>Are you sure you want to remove your account?</p>
      </div>
      <div class="modal-footer">
        <a id="no" class="modal-action modal-close waves-effect waves-red btn-flat">No</a>
        <a id="yes" class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
      </div>
    </div>
    <div class="card">
      <div class="card-tabs">
        <ul id="tabs-swipe" class="tabs tabs-fixed-width">
          <li class="tab"><a id="info" class="active" href="#edit-profile">Edit profile info</a></li>
          <li class="tab"><a id="pass" class href="#change-password">Change password</a></li>
          <li class="tab"><a id="remove" class href="#remove-account">Remove account</a></li>
        </ul>
      </div>
       <div class="card-content white">
        <div id="edit-profile">
          <form method="post" enctype="multipart/form-data" action="/users/<%= session._id %>/edit">
            <div class="row">
              <div class="col s6">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
                <label for="displayname">Displayname</label>
                <input type="text" name="displayname" id="displayname">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>Profile image</span>
                    <input type="file" name="profileImg" id="profile-image">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
                <label for="description">Write something about yourself</label>
                <textarea class="materialize-textarea" name="description" id="description" data-length="120"></textarea>
                <button class="btn waves-effect waves-light" type="submit" id="edit-form">Submit</button>
              </div>
            </div>
          </form>
        </div>
        <div id="change-password">
          <form id="pass-change">
            <div class="row">
              <div class="col s6">
                <div class="row">
                  <div class="input-field col s12">
                    <input type="password" name="currentpass" class="validate" id="currentpass" title="Password needs to have at least one lower case, one uppercase, one number, one special character, and must be at least 8 characters but no more than 35." pattern="^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$" required>
                    <label for="currentpass" data-error="Wrong" id="currentpassmsg">Current password</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="password" name="newpass" class="validate" id="newpass" title="Password needs to have at least one lower case, one uppercase, one number, one special character, and must be at least 8 characters but no more than 35." pattern="^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$" required>
                    <label for="newpass" data-error="Wrong" id="newpassmsg">New password</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="password" name="confirmpass" class="validate" id="confirmpass" title="Password needs to have at least one lower case, one uppercase, one number, one special character, and must be at least 8 characters but no more than 35." pattern="^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$" required>
                    <label for="confirmpass" data-error="Wrong" id="confirmpassmsg">Confirm new password</label>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" id="changepass-btn">Submit</button>
          </form>
        </div>
        <div id="remove-account">
          <form id="remove-account-form">
            <div class="row">
              <div class="col s6">
                <div class="row">
                  <div class="input-field col s12">
                    <input type="password" name="currentpass" class="validate" id="password" required>
                    <label for="currentpass" data-error id="password-msg">Verify password</label>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn waves-effect waves-light red" type="submit" id="remove-account-btn">Remove my account</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include footer.ejs %>

<script src="/js/edit.js"></script>

</body>
</html>