<%- include header.ejs %>

<div class="container register-form">
  <div class="row">
    <div class="columns">
      <h4>Edit profile</h4>
      <form method="post" enctype="multipart/form-data">
        <div class="six columns">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name">
          <label for="displayname">Displayname:</label>
          <input type="text" name="displayname" id="displayname">
          <label for="description">Write something about yourself:</label>
          <textarea class="u-full-width" name="description" id="description"></textarea>
          <label for"profileImg">Select a profileimage:</label>
          <input type="file" name="profileImg"></br></br>
          <input class="button-primary" type="submit" value="Save">
        </div>
        <div class="six columns">
          <label for="currentpass">Current password:</label>
          <input type="password" name="currentpass">
          <label for="newpass">New password</label>
          <input type="password" name="newpass">
          <label for="confirmpass">Confirm new password:</label>
          <input type="password" name="confirmpass">
        </div>
      <!-- enctype="multipart/form-data"-->
        <!--<label for="username">Set profile image:</label>-->
        <!--<input class="u-full-width" type="file" name="profileImage">-->
      </form>
    </div>
  </div>
</div>

<%- include footer.ejs %>

<script src="/js/edit.js"></script>

</body>
</html>