<%- include header.ejs %>
<section class="main-section">
 <div class="container">
   <div class="row">
       <div class="two-thirds column">
           <h2>Beer Facts</h2>
           <p class="">
               This is a very simplified guide to the world of beer. Hopefully it will provide enough knowledge to anyone who is curious to begin to learn about the beverage.
            </p>
            <h3>Quick Notes</h3>
            <p class="">
                Beer is the oldest of the widely consumed alcoholic bevarages in the world. This is believed to be due to the fact that beer is produced from cereal grains which have an infinite shelf life as long as they are kept dry, while e.g. fruits and vegetables, which are the basis of many other alcoholic bevaregas, has a drastically shorter shelf life. Cereal grains were the first food that inspired civilization and it is believed that Mesopotamians were producing beer as early as 1000 BC . Actually it is believed that earliest version of beer was discovered when grains got wet and fermented into a weak form of beer. 
            </p>
            <h3>Styles</h3>
             <p class="">
                 There are many ways to diffirentiate beer, most commonly by color, flavor, strength, ingredients, and origin. There is no one universial way to charactegorize beer; it often differs from country to country. The main ingredients of all beers are water, a starch source (ofted malted barley), yeast, and some sort of flavouring (e.g. hops). The two general types of beer are ales and lagers. Ales are the oldest ones, while lagers only are a few hundred years old.
            </p>
            <h3>Brewing</h3>
             <p class="">
                 The production of beer involves the fermentation of sugars from cereal grains, mostly malted barley, with yeast, and then flavoured. The most common flavouring is hops, which adds bitterness and act as natural preseravative. Other popular grains are wheat, corn, rice. Ales and lagers get their characteristics in the production process, with different fermantation process. Lagers are cold fermented for a long periods of time, while ales are warm fermented for shorter periods of time. Lagers are also fermented with bottom-fermenting yeasts that sinks to the bottom of the beer during fermentation, while ales are fermented with top-fermenting yeast that floats on top of the beer during fermentation.
             </p>
       </div>
       <div class="one-third column">
           <div class="card notice-box">
           <h4>10 facts about beer that makes you the hit of the party</h4>
           <ol>
               <li>The foamed head of the beer can say alot about its quality. If the head is missing, it can mean that your beer is flat.</li>
               <li>In the 1980s, a beer-drinking goat was elected mayor of Lajitas in Texas, USA</li>
               <li>Cenosillicaphobia is the fear of an empty beer glass</li>
               <li>The oldest functioning brewer in the world is Bayerische Staatsbrauerie Weihenstephan located near Munich in Germany, founded in year 1040.</li>
               <li>The moon has a crater named Beer</li>
               <li>Beer soup was a common breakfast in medieval Europe.</li>
               <li>Beer is rich in silicon that increases calcium deposits and minerals for bone tissue, making your bones stronger.</li>
               <li>The world's largest beer festival is Oktoberfest, eld annually in Munich, Germany. Originally celebrating the 1810 marraige of Crown Prince Ludwig, it now attracts more than 6 million people from around the world every year.</li>
               <li>Belgium is the country that has the most individual beer brands.</li>
               <li>The first beer cans were produced in 1935 as drinkers were no longer going to taverns and needed a convinient way of getting the beverage into their homes.</li>
           </ol>
        </div>  
       </div>
   </div>
 </div>
</section>

<%- include footer.ejs %>

</body>
</html>