   <% if (session) { %>
    <div class="fixed-action-btn" style="bottom: 135px; left: 24px;">
            <a id="menu" class="btn btn-floating btn-large waves-effect waves-light cyan"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="No news in feed">rss_feed</i></a>
          </div>
          <div class="tap-target" data-activates="menu">
            <div class="tap-target-content">
              <h5 id="feed"></h5>
              <p id="feed-info"></p>
            </div>
          </div>

  <% } %>