   <% if (session) { %>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a id="menu" class="btn btn-floating btn-large cyan"><i class="material-icons">menu</i></a>
          </div>
          <div class="tap-target" data-activates="menu">
            <div class="tap-target-content">
              <h5 id="feed"></h5>
              <p id="feed-info"></p>
            </div>
          </div>

  <% } %>