  </main>
   <footer class="page-footer bg-gold">
     <div class="container pb-1">
       <a class="white-text text-lighten 3" href="#">Beer Facts | </a>
       <a class="white-text" href="#">Content Policy | </a>
       <a class="white-text" href="#">Privacy Policy</a>        
     </div>
    <div class="footer-copyright">
      <div class="container">
        <a class="white-text" href="http://beerraters.com">&copy; Beerraters 2017</a>
      </div>
    </div>
  </footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/libs/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script>window.Materialize || document.write('<script src="/js/libs/materialize.min.js"><\/script>')</script>
<script src="/js/init.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/navsearch.js"></script>