  </main>
    <!--<footer>
        <nav class="footer-nav">
            <ul class="main-nav">
              <li class="nav-item"><a class="nav-link active" href="#">About</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Content Policy</a></li>      
              <li class="nav-item"><a class="nav-link" href="#">Privacy Policy</a></li>      
              <li class="nav-item"><a class="nav-link" href="#">Terms of Use</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Sitemap</a></li>      
            </ul>
        </nav>
    </footer>-->
    
<script src="/js/main.js"></script>
<script src="/js/async.js"></script>
</body>
</html>
