  </main>
   <footer class="page-footer orange">
    <div class="footer-copyright">
      <div class="container">
        <a class="orange-text text-lighten-3" href="http://beerraters.com">&copy; Beerraters 2017</a>
        <a class="orange-text text-lighten-3 right" href="#">Contact</a>
      </div>
    </div>
  </footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/libs/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script>window.Materialize || document.write('<script src="/js/libs/materialize.min.js"><\/script>')</script>
<script src="/js/init.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/navsearch.js"></script>