  </main>
   <footer class="page-footer bgc-brown">
     <div class="container pb-1">
       <a class="white-text text-lighten 3" href="/facts">Facts | </a>       
       <a class="white-text" href="/contact">Contact</a>
     </div>
    <div class="footer-copyright">
      <div class="container">
        <a class="white-text" href="http://beerraters.com">&copy; Beerraters 2017</a>
      </div>
    </div>
  </footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>if(!window.jQuery){const jQuery=document.createElement('script');jQuery.src="/js/libs/jquery.min.js";document.body.appendChild(jQuery)}</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script>if(!window.Chart){const Chart=document.createElement('script');Chart.src="/js/libs/chart.min.js";document.body.appendChild(Chart)}</script>
<script src="/js/init.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/navsearch.js"></script>