<%- include header.ejs %>

<section class="main-section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <form id="form-forgot">
          <h5>Forgot password</h5>
          <div class="row">
            <div class="col s6">
              <div class="row">
                <div class="input-field col s12">
                  <input type="email" name="currentpass" class="validate" id="email" required>
                  <label for="currentpass" data-error="Wrong" id="forgot">Enter your email</label>
                  <div id="loading-container" class="preloader-wrapper small">
                    <div class="spinner-layer spinner-blue">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>

                    <div class="spinner-layer spinner-red">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn waves-effect waves-light" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include footer.ejs %>

<script src="/js/forgot.js"></script>

</body>
</html>