<html lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

<title>BeerRaters</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="/css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link rel="icon" type="image/png" href="/images/beer.png">

</head>
<body>

  <% if (session) { %>
    <a id="report-bug" class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="top" data-delay="50" data-tooltip="Report a bug"><i class="material-icons">bug_report</i></a>
  <% } %>
  
  <div id="report-bug-form" class="modal">
    <form class="col s12" name="bugreport">
      <div class="modal-content">
        <div class="row">
          <div class="input-field col s12">
            <textarea name="report-text" id="report-text" class="materialize-textarea validate" data-length="120" required></textarea>
            <label id="report-label" data-error for="report-text">Report a bug...</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col s12">
            <button id="report-bug-btn" class="modal-action waves-effect waves-green btn-flat" type="submit">Send</button>        
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="navbar-fixed hide-on-med-and-down">
    <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <div class="row">
        <div class="col m2">
      <a id="logo-container" class="brand-logo">
        <img class="w-30" src="/images/logo_placeholder.png">
        
      </a>
        </div>
      <div class="col m4">
        <form name="navSearchForm">
        <div class="input-field">
          <input style="height: 100%;" id="search" name="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
      </div>
      <div class="col m6">
      <ul class="right hide-on-med-and-down">
        <% if (!session) { %>
        <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
          <% } else { %>
        <li><a href="/"><i class="material-icons left">rss_feed</i>Feed</a></li>            
          <% } %>
        <% if (!session) { %>
        <li><a href="/register"><i class="material-icons left">explore</i>Sign Up</a></li>
        <li><a href="/login"><i class="material-icons left">input</i>Login</a></li>    
        <% } else { %>
        <li><a id="user-session-id" href="/users/<%= session._id %>"><i class="material-icons left">person</i><span>My Profile</span></a></li>
        <li><a id="logout"><i class="material-icons left">power_settings_new</i>Logout</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
</div>
<nav class="light-blue lighten-1 hide-on-large-only" role="navigation">
    <div class="nav-wrapper container">
      <ul id="nav-mobile" class="side-nav">
        <li class="logo" style="margin-bottom: 100px;">
          <a id="logo-container" class="brand-logo">
            <img class="responsive-img" src="/images/logo_placeholder.png">
          </a>
        </li>
          <% if (!session) { %>
            <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
              <% } else { %>
            <li><a href="/"><i class="material-icons left">rss_feed</i>Feed</a></li>            
              <% } %>
        <li><a href="/search"><i class="material-icons left">search</i>Search</a></li>
        <% if (!session) { %>
          <li><a href="/register"><i class="material-icons left">explore</i>Sign Up</a></li>
          <li><a href="/login"><i class="material-icons left">input</i>Login</a></li>    
          <% } else { %>
          <li><a id="user-session-id" href="/users/<%= session._id %>"><i class="material-icons left">person</i>My Profile</a></li>
          <li><a id="logout"><i class="material-icons left">power_settings_new</i>Logout</a></li>
          <% } %> 
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
  
  <main class="content">
