<html lang="en">
<head>

<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>Beerarino</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/spectre.css">
<link rel="stylesheet" href="/css/custom.css">
<link rel="stylesheet" href="/css/style.css">


<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="icon" type="image/png" href="/images/beer.png">

</head>
<body>
  <nav>
    <ul class="main-nav">
      <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/toplist">Top List</a></li>      
      <li class="nav-item"><a class="nav-link" href="/facts">Beer Facts</a></li>                 
      <li class="nav-item">
        <form name="searchForm">
          <input required class="u-full-width mt-1" type="text" placeholder="Search..." name="q" pattern=".{2,}" title="Search must contain at least 3 characters">
        </form>
      </li>
      <div class="u-pull-right">
        <% if (!session) { %>
          <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
        <% } else { %>
          <li class="nav-item"><a class="nav-link" id="user-session-id" href="/users/<%= session._id %>">My profile</a></li>
          <li class="nav-item"><a class="nav-link" href="" id="logout">Logout</a></li>
        <% } %>
      </div>
    </ul>
  </nav>

  <main class="content">
