<html lang="en">
<head>

<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>Beerarino</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/spectre.css">
<link rel="stylesheet" href="/css/custom.css">
<link rel="stylesheet" href="/css/style.css">


<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="icon" type="image/png" href="/images/beer.png">

</head>
<body>
  <nav>
    <ul class="main-nav">
      <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Top List</a></li>      
      <li class="nav-item"><a class="nav-link" href="/facts">Beer Facts</a></li>      
      <div class="u-pull-right">
        <% if (!session) { %>
          <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
        <% } else { %>
          <li class="nav-item"><a class="nav-link" href="/users/<%= session._id %>">My profile</a></li>
          <form method="post" action="/logout" class="logout">
            <input class="button-primary" type="submit" value="Logout">
          </form>
        <% } %>
      </div>
    </ul>
  </nav>

<!--<div class="navbar-spacer"></div>
<nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <div class="row">
            <div class="three columns">
          <li class="navbar-item"><a class="navbar-link" href="/">Home</a></li>
          </div>
          <div class="six columns">
            <li class="navbar-item"><a class="navbar-link" href="#">Top List</a></li>
            <li class="navbar-item">
              <a class="navbar-link" href="/facts">Beer Facts</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="/search">Search <img class="va-middle" src="/icons/search.svg" /></a>
            </li>
          </div>
              <div class="three columns">
              <div class="u-pull-right">
            <li class="navbar-item">
              <a class="navbar-link" href="/login">Login</a>
            <li class="navbar-item">
              <a class="navbar-link" href="/register">Sign Up</a>
            </li>
            </div>
          </div>
        </ul>
          </div>
    </nav>-->

  <main class="conten">
