<html lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

<title>BeerRaters</title>

<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!--<link rel="stylesheet" href="/css/normalize.css">-->
<!--<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/spectre.css">
<link rel="stylesheet" href="/css/custom.css">-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="/css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>

<!--<link rel="stylesheet" href="/css/style.css">-->

      


<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="icon" type="image/png" href="/images/beer.png">

</head>
<body>
  <div class="navbar-fixed">
    <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <div class="row">
        <div class="col s2">
      <a id="logo-container" class="brand-logo">
        <img class="w-30" src="/images/logo_placeholder.png">
        
      </a>
        </div>
      <div class="col s5">
        <form name="navSearchForm">
        <div class="input-field">
          <input style="height: 100%;" id="search" name="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
      </div>
      <div class="col s5">
      <ul class="right hide-on-med-and-down">
        <% if (!session) { %>
        <li><a href="/">Home</a></li>
          <% } else { %>
        <li><a href="/">Feed</a></li>            
          <% } %>
        <li><a href="/search">Search</a></li>
        <% if (!session) { %>
        <li><a href="/register">Sign Up</a></li>
        <li><a href="/login">Login</a></li>    
        <% } else { %>
        <li><a id="user-session-id" href="/users/<%= session._id %>">My Profile</a></li>
        <li><a id="logout">Logout</a></li>
        <% } %>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/register">Sign Up</a></li>
        <li><a href="/login">Login</a></li>  
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
      </div>
  </nav>
  </div>
  
  <main class="content">
