<html lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

<title>BeerRaters</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
<link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="/css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link rel="icon" type="image/png" href="/images/beer.png">

</head>
<body>
  <div class="navbar-fixed hide-on-med-and-down">
    <div id="cookie-div" class="cookie-info hide">
      <p>We use cookies to enhance your experience. By continuing to visit this site you agree to our use of cookies. <a class="cookie-link" href="http://wikipedia.org/wiki/HTTP_cookie" target="_blank">More info</a><br><a id="cookie" class="cookie-link">Ok, I understand.</a></p>
    </div>
    <nav class="bgc-brown" role="navigation">
    <div class="nav-wrapper container">
      <div class="row">
        <div class="col m3">
          <a href="/" class="brand-logo">BeerRaters</a>
        </div>
        <div class="col m3">
            <form name="navSearchForm">
                <div class="input-field">
                  <input style="height: 100%; width: 100%; background-color:white; font-size: 12px;" id="search" name="search" type="search" placeholder="Enter beer name and press enter" required>
                  <label class="label-icon" for="search"><i class="material-icons" style="color:black;">search</i></label>
                </div>
              </form>
        </div>
        <div class="col m6">
            <ul class="right hide-on-med-and-down">
                <% if (!session) { %>
                <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                  <% } else { %>
                <li><a href="/" class="btn" id="feed-link"><i class="material-icons left">rss_feed</i>Feed</a></li> 
                  <% } %>
                <% if (!session) { %>
                <li><a href="/register"><i class="material-icons left">explore</i>Sign Up</a></li>
                <li><a href="/login"><i class="material-icons left">input</i>Login</a></li>    
                <% } else { %>
                <li><a id="user-session-id" href="/users/<%= session._id %>"><i class="material-icons left">person</i><span>Profile</span></a></li>
                <li><a id="logout"><i class="material-icons left">power_settings_new</i>Logout</a></li>
                <% } %>
              </ul>
        </div>
      </div>
    </div>
</nav>
</div>
<nav class="bgc-brown hide-on-large-only" role="navigation">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="side-nav">
        <li class="logo" style="margin-bottom: 100px;">
          <a id="logo-container" class="brand-logo">
            <img class="responsive-img" src="/images/logo_placeholder.png">
          </a>
        </li>
          <% if (!session) { %>
            <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
              <% } else { %>
            <li><a href="/"><i class="material-icons left">rss_feed</i>Feed</a></li>            
              <% } %>
        <li><a href="/search"><i class="material-icons left">search</i>Search</a></li>
        <% if (!session) { %>
          <li><a href="/register"><i class="material-icons left">explore</i>Sign Up</a></li>
          <li><a href="/login"><i class="material-icons left">input</i>Login</a></li>    
          <% } else { %>
          <li><a id="user-session-id" href="/users/<%= session._id %>"><i class="material-icons left">person</i>My Profile</a></li>
          <li><a id="logout"><i class="material-icons left">power_settings_new</i>Logout</a></li>
          <% } %> 
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
  
  <main class="content">
