<html lang="en">
<head>

<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>Beerarino</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/style.css">


<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!--<link rel="icon" type="image/png" href="../../dist/images/favicon.png">-->

</head>
<body>
  <nav>
    <ul class="main-nav">
      <li class="nav-item"><a class="nav-link active" href="#home">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#news">News</a></li>
      <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
      <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
    </ul>   
  </nav>
