<%- include header.ejs %>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="section hero">
 <div class="container">
   <div class="row">
     <div class="one-half column">
       <h4 class="hero-heading">Welcome to Beerarino!<br />
         Your beer community on the web.</h4>
       <a class="button button-primary button-circle" href="/search">Start searching beers today...</a>
       <a class="button button-primary button-circle" href="/register">Register today!</a>
     </div>
     <div class="one-half column phones">
       <img class="phone" src="images/beer.png">
       <img class="phone" src="images/beer.png">
     </div>
   </div>
 </div>
</div>

<div class="section values">
 <div class="container">
   <div class="row">
     <div class="one-third column value">
       <h2 class="value-multiplier">20000+</h2>
       <h5 class="value-heading">Beers</h5>
       <p class="value-description">Over 20000 beers to get your thirsty</p>
     </div>
     <div class="one-third column value">
       <h2 class="value-multiplier">4200</h2>
       <h5 class="value-heading">Reviews</h5>
       <p class="value-description">1200 reviews to help you select the right beer for your mood</p>
     </div>
     <div class="one-third column value">
       <h2 class="value-multiplier">3500</h2>
       <h5 class="value-heading">Users</h5>
       <p class="value-description">We are proud of our community that keeps growing</p>
     </div>
   </div>
 </div>
</div>

<div class="section get-help">
 <div class="container">
   <h3 class="section-heading">Want to help use get better?</h3>
   <p class="section-description">Join a community that cares about one thing: beer</p>
   <a class="button button-primary button-circle" href="">Join</a>
   <div class="row">
     <div class="one-half column category">
       <img class="u-max-full-width" src="images/buddies.png">
     </div>
     <div class="one-half column category">
       <img class="u-max-full-width" src="images/buddies.png">
     </div>
   </div>
 </div>
</div>

<div class="section categories">
 <div class="container">
   <h3 class="section-heading">Contact Us</h3>
   <p class="section-description">Got any questions? Get in touch.</p>
   <form>
  <div class="row">
    <div class="six columns">
      <label for="exampleEmailInput">Your email</label>
      <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
    </div>
    <div class="six columns">
      <label for="exampleRecipientInput">Reason for contacting</label>
      <select class="u-full-width" id="exampleRecipientInput">
        <option value="Option 1">Questions</option>
        <option value="Option 2">Admiration</option>
        <option value="Option 3">Can I get your number?</option>
      </select>
    </div>
  </div>
  <label for="exampleMessage">Message</label>
  <textarea class="u-full-width" placeholder="Hi Dave …" id="exampleMessage"></textarea>
  <label class="example-send-yourself-copy">
    <input type="checkbox">
    <span class="label-body">Send a copy to yourself</span>
  </label>
  <input class="button-primary" type="submit" value="Submit">
</form>
 </div>
</div>

<%- include footer.ejs %>

</body>
</html>