<%- include header.ejs %>
<% if (!session) { %>
  <section class="main-section">
    <div class="container">
        <h3>BeerRaters</h3>
        <h4>Your beer comunnity on the web</h4>
        <h5>Share, rate and review beers with other beerdrinkers</h5>
        <h6><strong>Note:</strong> BeerRaters is currently in a beta staged. We appreciate all your feedback to make it better.</h6>          
        <a href="/register" id="download-button" class="btn-large waves-effect waves-light">Sign Up</a>
      </div>
<div class="intro-section" id="index-banner">
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          
        </div>
      </div>

    </div>
  </div>
  </section>


  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-content">
              <div class="icon-block">
                <h2 class="center"><i class="material-icons">share</i></h2>
                <h5 class="center">Share</h5>
    
                <p class="light">Share beers with your friends and other beerdrinkers at Beerraters.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-content">
              <div class="icon-block">
                <h2 class="center"><i class="material-icons">add_circle_outline</i></h2>
                <h5 class="center">Add beers</h5>
    
                <p class="light">We have over 6000 beers in our database, you can easily add beers to our databse if we dont have it.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-content">
              <div class="icon-block">
                <h2 class="center"><i class="material-icons">data_usage</i></h2>
                <h5 class="center">Contributions</h5>
    
                <p class="light">Follow your friends and other community members on Beerraters to see their contributions.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
<% } else { %>
<section class="main-section">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l8 card">
        <div class="card-content">
          <span class="card-title">
            Feed
          </span>
          <ul class="collection no-border" id="activity-list">
              <% if (feed.length > 0) { %>
                <% feed.forEach(function(feedItem) { %>
                  <li class="collection-item dismissable feed-item" data-target="<%= feedItem._id %>" style="opacity: 0"><%- feedItem.item %><i class="material-icons right pointer feed-closer">close</i></li>
                <% }); %>
              <% } else { %>
                <span>No activity at the moment</span>
                <% } %>
            </ul>
        </div>
      </div>
        <div class="col s12 m12 l4">
          <div class="card">
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header active">
                  Following
                  <span class="card-subtitle">
                     (<span id="following-amount"></span>)
                  </span>
                  <i class="material-icons right">chevron_right</i>
                </div>
                <div class="collapsible-body p-0">
                  <ul class="collection" id="following-list">
                  </ul>
                </div>
              </li>
            </ul>
          </div>
      </div>           
    </div>      
  </div>
</section>
 <% } %>

<%- include footer.ejs %>

<% if (session) { %>
  <script src="/js/feed.js"></script>
  <script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io.connect('/', {transports: ['websocket']})
  socket.on('news', async function (data) {
    const userId = document.getElementById('user-session-id').href.split('/')[4]
      const response = await fetch(`/users/${userId}/following`, {
        method: 'get',
        credentials: 'same-origin'
      })
      const users = await response.json()
      const userIds = users.following.map(user => {
      return user._id
    })
    if (userIds.includes(data.user) && data.follower === userId) {
    const list = document.getElementById('activity-list')
    list.innerHTML += `<li class="collection-item dismissable feed-item" data-target="${data.id}">${data.message}<i class="material-icons right pointer feed-closer">close</i></li>`

$('.feed-closer').each(function () {
}).click(function () {
  const feedId = this.parentNode.getAttribute('data-target')
  removeFeedItem(feedId)
  activityList.removeChild(this.parentNode)
})

$('.dismissable').each(function () {
})
.on('panend', function () {
  const transFormValue = this.style.transform.substr(11)
  if (transFormValue.substr(0, 1) === '-') {
    if (Number(transFormValue.substr(1, 2)) >= 42) {
      const feedId = this.getAttribute('data-target')
      removeFeedItem(feedId)
    }
  } else {
    if (Number(transFormValue.substr(0, 2)) >= 42) {
      const feedId = this.getAttribute('data-target')
      removeFeedItem(feedId)
    }
  }
})
  }
})
</script>
<script>
  Materialize.showStaggeredList('#activity-list')
</script>    
  <% } %>
</body>
</html>