<%- include header.ejs %>
<% if (!session) { %>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">BeerRaters</h1>
      <div class="row center">
        <h5 class="header col s12 light">Your beer comunnity on the web</h5>
      </div>
      <div class="row center">
        <a href="/register" id="download-button" class="btn-large waves-effect waves-light orange">Sign Up</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
<% } else { %>
<section class="main-section">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h4 class="ta-center">Activity</h4>
            <ul class="collection" id="activity-list">

            </ul>
      </div>
        <div class="col s12 m6">
          <h4 class="ta-center">Friends</h4>
          <div class="card">
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header">Online <span class="card-subtitle">(<span id="online-followers"></span>)</span><i class="material-icons right">chevron_right</i></div>
                <div class="collapsible-body p-0">
                  <ul class="collection" id="online">
                  </ul>
                </div>
              </li>
              <li>
                <div class="collapsible-header">Offline <span class="card-subtitle">(<span id="offline-followers"></span>)</span><i class="material-icons right">chevron_right</i></div>
                <div class="collapsible-body p-0">
                  <ul class="collection" id="offline">
                  </ul>
                </div>
              </li>
            </ul>
          </div>
      </div>
    </div>      
  </div>
</section>
 <% } %>

<%- include footer.ejs %>

<% if (session) { %>
  <script src="/js/feed.js"></script>
  <script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io.connect('/', {transports: ['websocket']})
  socket.on('consumed', function (data) {
    // console.log(JSON.parse(data.user))
    console.log(data.user)
    console.log(data.beer)
    const list = document.getElementById('activity-list')
    list.innerHTML += `<li class="collection-item"><a href="/users/${data.user._id}">${data.user.username}</a> consumed <a href="/beers/${data.beer._id}">${data.beer.name}</a></li>`
    localStorage.setItem('activity', list.innerHTML)
  })
</script>    
  <% } %>
</body>
</html>