<%- include header.ejs %>

<div class="section hero">
 <div class="container">
    <div class="six columns">
      <form action="/" method="POST">
        <label for="userName">Username:</label>
        <input class="u-full-width" type="text" name="userName" required>
        <label for="password">Password:</label>
        <input class="u-full-width" type="password" name="password" required>
        <input class="button-primary" type="submit" value="Register">
      </form>
    </div>
 </div>
</div>

<%- include footer.ejs %>
