<%- include header.ejs %>
<section class="main-section">
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <h4 id="register-heading">Register</h4>
      <p>Ahoy fellow beer drinker!</p>
      <p>Fill in the form to enter the BeerRaters community and start sharing your beer experiences.</p>
      <p>If you have any issues be sure to contact us <a class="beerraters-link" href="mailto:beerraters0@gmail.com">here</a>.</p>                
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <!-- Modal Structure -->
            <div id="modal" class="modal">
              <div class="modal-content">
                <h4>Thanks for registering to beerraters!</h4>
                <p id="modal-text"></p>
              </div>
            </div>
            <form name="register">
              <div class="input-field">
                <i class="material-icons prefix">face</i>
                <input id="name" type="text" class="validate" name="name" autofocus>
                <label for="name">Full Name</label>
              </div>
              <div class="input-field">
                <i class="material-icons prefix">account_circle</i>
                <input id="username" type="text" class="validate" name="username" pattern="^[a-zA-Z0-9]{3,25}$" title="Username must contain letters and numbers only, and must be at least 3 characters but no more than 25." required>
                <label id="username-msg" for="username" data-error="Wrong">Username</label>
              </div>
              <div class="input-field">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                <label id="email-msg" for="email" data-error="Wrong">Email</label>
              </div>
              <div class="input-field">
                <i class="material-icons prefix">security</i>
                <input type="password" name="password" class="validate" id="password" title="Password needs to have at least one lower case, one uppercase, one number and must be at least 8 characters but no more than 35." pattern="^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d]).{8,35}$" required>
                <label for="password" data-error="Wrong" id="newpassmsg">Password</label>
              </div>
              <div class="input-field">
                <i class="material-icons prefix">location_on</i>
                <select class="icons" id="country" name="country" required>
                <option value="" disabled selected>Select country</option>
                </select>
                <label for="country">Country</label>
              </div>
              <button class="btn waves-effect waves-light" id="register-btn" type="submit" name="action">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</section>

<%- include footer.ejs %>
<script src="/js/register.js"></script>
</body>
</html>