<%- include header.ejs %>

<div class="container register-form">
  <div class="six columns">
    <h4>Register</h4>
    <form method="POST">
      <label for="userName">Username:</label>
      <input class="u-full-width" type="text" name="username" required>
      <label for="firstName">Name:</label>
      <input class="u-full-width" type="text" name="name">
      <label for="email">Email:</label>
      <input class="u-full-width" type="text" name="email" required>
      <label for="password">Password:</label>
      <input class="u-full-width" type="password" name="password" required>
      <input class="button-primary" type="submit" value="Register">
    </form>
    <% if (success) { %>
      <p>Du är registrerad!</p>
    <% } else { %>
      <p class="error-register-new-user"><%= message %></p>
    <% } %>
  </div>
</div>

<%- include footer.ejs %>
