<%- include header.ejs %>
<section class="main-section">
	<div class="container">
		<div class="row flex-center flex-column">
	   <div class="two-thirds column">
			<form role="search" name="searchForm">
				<div class="row">
					<h5>What are you after?</h5>
					<input required class="u-full-width" type="text" placeholder="Search..." name="q" pattern=".{2,}" title="Search must contain at least 3 characters">
				</div>
				  <div id="error-container"></div>
				<div class="row">
					<h5>Find</h5>
					<div class="one-half column">
					  <a class="waves-effect waves-light btn button-primary search-btn" name="beer" id="beer-search-btn">Beer</a>
					  <a class="waves-effect waves-light btn search-btn" name="user" id="user-search-btn">User</a>
					</div>
					<div class="one-half column">
					</div>					
				</div>
				<div class="input-field" id="filter-options">
					<h5>Filter by</h5>
					<input class="filter-option with-gap" type="radio" name="name" value="name" checked />
					<label for="name">Name</label>
					<input class="filter-option with-gap" type="radio" name="style" value="style">
					<label for="style">Style</label>
					<input class="filter-option with-gap" type="radio" name="brewery" value="brewery">
					<label for="brewery">Brewery</label>
					<input class="filter-option with-gap" type="radio" name="country" value="country">
					<label for="country">Country</label>
				</div>			
			</form>
			  <div id="loading-container"></div>
			  <div id="results-container"></div>
			  <div id="beer-container"></div>
			  <div id="page-navigation"></div>		
		</div>

	</div>
	</div>
</section>

<%- include footer.ejs %>

<script src="/js/search.js"></script>
</body>
</html>