<%- include header.ejs %>
<section class="main-section">
	<div class="container">
		<div class="row flex-center flex-column">
	   <div class="two-thirds column">
			<form action="/search/beers" method="GET" role="search" name="searchForm">
				<div class="row">
					<label for="word">What are you after?</label>
					<input required class="u-full-width" type="text" placeholder="Search..." name="q" pattern=".{2,}" title="Search must contain at least 3 characters">
				</div>
				  <div id="error-container"></div>
				<label for="word">Find</label>
				<div class="row">
					<div class="one-half column">
					  <a class="button button-primary search-btn" id="beer-search-btn">Beer</a>
					  <a class="button search-btn" id="user-search-btn">User</a>
					</div>
					<div class="one-half column">
					</div>					
				</div>
				<label for="options">Filter by</label>
				<input class="filter-option" type="radio" name="name" value="name" checked>Name
				<input class="filter-option" type="radio" name="style" value="style">Style
				<input class="filter-option" type="radio" name="brewery" value="brewery">Brewery
				<input class="filter-option" type="radio" name="country" value="country">Country			
			</form>
			  <div id="loading-container"></div>
			  <div id="results-container"></div>
			  <div id="beer-container"></div>
			  <div id="page-navigation"></div>		
		</div>

	</div>
</section>

<%- include footer.ejs %>

<script src="/js/search.js"></script>
</body>
</html>