<%- include header.ejs %>

<div class="section hero">
 <div class="container">
    <form action = "search/" method="GET">
    <div class="row">
        <div class="six columns">
        <label for="exampleEmailInput">Search user</label>
        <input class="u-full-width" type="text" placeholder="firstname" name="userName">
        </div>
    </div>
    <input class="button-primary" type="submit" value="Submit">
    </form>
 </div>
</div>

<%- include footer.ejs %>