<%- include header.ejs %>
<section class="main-section">
	<div class="container">
		<div class="row">
	   <div class="col s12 m12 l6 desktop-sticky">
			<form role="search" name="searchForm">
				<div class="col s12 m12 l6">
					<h5>What are you after?</h5>
					<input required type="text" name="q" pattern=".{2,}" title="Search must contain at least 3 characters">
				</div>
				<div class="col s12" id="error-container"></div>
					<div class="input-field col s12">
				<h5>Find</h5>
					  <a class="waves-effect waves-light btn search-btn active" name="beer" id="beer-search-btn">Beer</a>
						<a class="waves-effect waves-light btn search-btn white black-text" name="user" id="user-search-btn">User</a>
					</div>		
				<div class="input-field col s12" id="filter-options">
					<h5>Filter by</h5>
					<a class="waves-effect waves-light btn filter-btn active" name="name">Name</a>
					<a class="waves-effect waves-light btn filter-btn white black-text" name="style">Style</a>
					<a class="waves-effect waves-light btn filter-btn white black-text" name="brewery">Brewery</a>
					<a class="waves-effect waves-light btn filter-btn white black-text" name="country">Country</a>					
				</div>
			</form>
				</div>
				<div class="col s12 m12 l6">
				<div id="loading-container" class="preloader-wrapper big">
					<div class="spinner-layer spinner-blue">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div><div class="gap-patch">
							<div class="circle"></div>
						</div><div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
					
					<div class="spinner-layer spinner-red">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div><div class="gap-patch">
							<div class="circle"></div>
						</div><div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
					
					<div class="spinner-layer spinner-yellow">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div><div class="gap-patch">
							<div class="circle"></div>
						</div><div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
					
					<div class="spinner-layer spinner-green">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div><div class="gap-patch">
							<div class="circle"></div>
						</div><div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>
			  <div id="results-container"></div>
			  <div id="beer-container"></div>
			  <div id="page-navigation"></div>		
			</div>
		</div>			

	</div>
</section>

<%- include footer.ejs %>

<% if (session) { %>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/socket.js"></script>
  <% } %>
<script src="/js/search.js"></script>
</body>
</html>