<%- include header.ejs %>


<section class="main-section">
 <div class="container">
    <div class="row flex-center flex-column">
	    <div class="two-thirds column">
        <div id="loader"></div>
          <div id="beers-container"></div>
	    </div>
   	</div>
 </div>
</section>

<%- include footer.ejs %>

<script src="/js/toplist.js"></script>
</body>
</html>