<%- include header.ejs %>
    <% if(user.role){
        role = 'Admin';
    } else {
        role = 'User';
    } %>
    <h1><%= user.firstName + ' ' + user.lastName + ' - ' + role %></h1>
<%- include footer.ejs %>
