/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f1f2f1;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
  }

  main {
    flex: 1 0 auto;
  }
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.w-30 {
  width: 30%;
}

.w-15 {
  width: 15%;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

[class*="flex-"] {
  display: flex;
}


.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.ta-center {
  text-align: center;
}

.h-2 {
  height: 2rem;
}

.main-section {
  margin-top: 5rem;
}

.card-subtitle {
  color: #757775;
}

.card-link {
  color: #757775;
}

.pt-1 {
  padding-top: 1rem;
}

.row .col .img-column {
  padding: 0;
}

.row .col .img-column .first-img{
  padding-left: 0.75rem;
}

.select-dropdown .flag-img {
  height: auto;
  max-width: 100%;
  margin-top: 0.9rem;

}

.h-200 {
  height: 200px;
}

.no-border {
  border: none;
}

.vw-100 {
  width: 100vw;
}

.h-20 {
  height: 20rem;
}

.pt-5 {
  padding-top: 5rem;
}

.h-1-5 {
  height: 1.5rem;
}

.mt--1 {
  margin-top: -1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.bt-1 {
  border-top: 1px solid rgba(160,160,160,0.2)
}

.p-0 {
  padding: 0;
}

.pb-1 {
  padding-bottom: 1rem;
}

.chip-link {
  color: rgba(0,0,0,0.6);
}

.chip-link:hover {
  color: #1EAEDB;
}

a {
  cursor: pointer;
}

.row .image-column {
  padding: 0 0;
}

.collection .collection-item.avatar.follower-list {
  min-height: 62px;
}

.collection .collection-item.avatar .title.follower-span {
  display: block;
  padding-top: 9px;
}

.collection .collection-item.avatar.following-list {
  min-height: 62px;
}

.collection .collection-item.avatar .title.following-span {
  display: block;
  padding-top: 9px;
}

.card .card-image.profile {
  margin-top: 20px;
  border-radius: 50%;
}

.user-status {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
}

.scroll-button {
  display: none;
  position: fixed;
  bottom:10;
  right: 0;
  cursor: pointer;
}

.ml-10 {
  margin-left: 10px;
}


.collection .collection-item.feed-item {
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

.desktop-sticky {
  position: block;
  top: 0
}

@media only screen and (min-width: 993px) {
  .desktop-sticky {
    position: sticky;
    top: 100px;
  }
}

.bgc-brown {
  background-color: #BC6733;
}

.intro-section {
  padding: 6rem 0 6rem;
}

.bgc-white {
  background-color: white;
}

.bgc-gold {
  background-color: #BF923B;
}

.bgc-transparent {
  background-color: transparent;
}

.bgc-transparent:focus {
  background-color: transparent;
  outline: #BF923B;
}

.va-middle {
  vertical-align: middle;
}

.fs-32 {
  font-size: 32px;
}

.tc-lightblue {
  color: #1EAEDB;
}

.hidden {
  display: none;
}

.feed-item-column {
  max-height: 195px;
}

.beerraters-link {
  color: #BF813A;
}

.user-images-container {
  display: flex;
  padding-bottom: 10px;
}

#tabs-swipe {
  overflow-x: hidden;
}
.cookie-info {
  text-align: center;
  background-color: #BE9143;
  position: fixed;
  width: 100%;
  top: 64px;
}

.cookie-link {
  color: #003452;
  text-decoration: underline;
}

.intro-card {
  height: 275px;
}
